<!DOCTYPE html>
<html>
<head>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="content">
    <h1>Confirm Deletion of Book: <%= @book.title %></h1>
    <div class="button-confirmations">
      <%= link_to "No", books_path %>
      <%= button_to "Yes", @book, method: :delete %>
    </div>
    <br/>
    <%= link_to "Back to books", books_path %>
  </div>
</body>
</html>